
.home-container .topbar {
    margin-left: 5px;
}

.home-container .btns {
    justify-content: center;
    display: grid;
    grid-column-gap: 50px;
    grid-auto-columns: 25%;
    grid-auto-rows: 25%;
}

#search-btn {
    padding: 2.2px 8px;
}

.home-container .progress {
    display: inline-flex;
    background: #ADF5FF;
    border-radius: 3px;
    width: 100px;
    transform: translateX(160px);
}

.home-container .prog2, .home-container .prog3 {
    background: #FBFEF9;
}

.home-container .g-nav {
    background-color: #C1DADF;
}

.g-nav .search-form {
    display: inline;
    padding: 10px;
    float: right;
    margin-top: 20px;
}

.g-nav .title {
    display: inline;
    color: #ADF5FF;
    padding: 10px;
}

.fa-graduation-cap:before {
    color: #ADF5FF;
    padding-left: 10px;
}

.g-bttns {
    margin-left: 15px;
    margin-right: 15px;
}

.g-btn {
    padding: 25px;
    margin: 10px;
    width: 30%;
}
